{% extends 'base.html.twig' %} {% block title %}New Events{% endblock %} {%
block body %}

<div class="container" width="60%">
  <h1>Create new Events</h1>
  {{ include("events/_form.html.twig")
  }}<a class="btn btn-warning" href="{{ path('app_events_index') }}">go back</a>
</div>

{% endblock %}
